* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6d6d6;
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

button {
    margin-bottom: 4rem;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}